body {
    background-color: black;
}

main h3 {
    font-family: "Doto", sans-serif;
    color: rgb(0, 255, 0);
    text-align: center;
    font-size: 40px;
}

main h4 {
    font-family: "Doto", sans-serif;
    color: rgb(0, 255, 0);
    text-align: center;
    font-size: 40px;
}

main p {
    font-family: "Doto", sans-serif;
    color: rgb(0, 255, 0);
    text-align: center;
}

main a {
    font-family: "Doto", sans-serif;
    color: rgb(0, 255, 0);
    text-decoration: none;
    background-color: rgb(27, 27, 27);
    padding: 5px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.pilule .bleue {
    background-color: blue;
}
.pilule .rouge {
    background-color: red;
}

.finBleue {
    color: blue;
}

.finRouge {
    color: red;
}